h1{
  font-family: arcaderegular;
  font-size: 60px;
  color: green;
  text-align: center;
}
p{
  font-family: arcaderegular;
  font-size: 30px;
  color: green;
}
h2{
  float:left;
  color: green;
  font-family: arcaderegular;
}
.field{
  float:left;
  color: green;
  font-family: arcaderegular;
  font-size: 30px;
}
.email_field{
  color: green;
  font-family: arcaderegular;
  font-size: 30px;
}
label{
  float: left;
  color: green;
  font-family: arcaderegular;
  font-size: 30px;
}

#canvas{
  background-color: grey;
  margin-left: auto;
  margin-right: auto;
}
#positioner{
  position: absolute;
  left: 445px;
  top: 135px;
}
#picture{
  position: absolute;
  left: 445px;
  top: 135px;
}
img{
  height: 620px;
  width: 560px;
}
#scores{
  font-family: arcaderegular;
  position: absolute;
  left: 30px;
  top: 200px;
  width: 250px;
  background-color: grey;
}
li{
  font-family: arcaderegular;
  font-size: 30px;
  color: green;
}
h3{
  font-family: arcaderegular;
  font-size: 40px;
  color: green;
}
.actions{
  float: left;
}
#instructions{
  font-family: arcaderegular;
  font-size: 20px;
  position: absolute;
  left: 1050px;
  top: 135px;
  width: 300px;
  background-color: grey;
}
.field{
  width: 200px;
}
@font-face {
  font-family: 'arcaderegular';
  src: url('/assets/arcade-webfont.eot');
  src: url('/assets/arcade-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/arcade-webfont.woff2') format('woff2'),
       url('/assets/arcade-webfont.woff') format('woff'),
       url('/assets/arcade-webfont.ttf') format('truetype'),
       url('/assets/arcade-webfont.svg#arcaderegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
