<!DOCTYPE html>
<html>
<head>
  <title>WDIPacman</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="listener.js"></script>
  <script src="timer.js"></script>
  <script src="libraryfunctions.js"></script>
  <script src="dotsdata.js"></script>
</head>
<body>
<h1>Welcome to Pacman This is WORK IN PROGRESS</h1>
<canvas id="canvas" width="560" height="620"></canvas>

</body>
</html>
